<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajax Weather Page</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
</head>
<body>
    <h1>Display current weather</h1>

    <div class='AlternateWeatherData'></div>

</body>
</html>

<script>
    var BaseURL = window.location.origin;
    var weatherURL = BaseURL + "/altGetWeatherData"

    $.ajax({
        method:'GET',
        url: weatherURL,
        contentType: 'application/json',
        success: function(msg) {
            console.log(msg);

            if ('data' in msg) {
                $('.AlternateWeatherData').text(msg['data']['latitude']);
            } else {
                alert('Failed to load weather data!');
                $('.error').text(msg['error']);
                $('.error').css({'color':'red'});
            }
        }
        , error: function(error) {
            console.log(error);
            alert(error);
        }
    })

</script>