<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <title>About Me</title>
    </head>
    <body>
        <div>
            <h1>About Me</h1>
            <h2>I am an aspiring developer in hopes to reach an audience that is interested in this app in order to help themselves. I have a passion for creating and analyzing data. </h2>            <p>Click on the links below to find out more!</p>
            <div class="test">{{name}}</div>
            <p id="example"></p>
            <img src="me.jpg">
            <a href="{{ url_for('Homepage') }}">Home Page</a>
            <a href="{{ url_for('ShowPortfolio') }}">Portfolio</a>
            <a href="{{ url_for('ContactForm') }}">Contact Form</a>
        </div>
    </body>
    <script>
        var element_text = $(".test").text();  

        $("#example").text(element_text);
        $("#example").css({"font-size":"25px", "color":"purple"});

        $('#example').click(function() {
            $("div").remove();
        });
    
    </script> 
</html>


