<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Google Maps API</title>
    <style>
    #map{
      height:400px;
      width:100%;
    }
    </style>
    </head>
    
    <body>
      <h1>Google Maps API</h1>
      <div id="map"></div>
      <script>
      function initMap(){
        var options = {
          zoom:8,
          center:{lat:42.3601,lng:-71.0589}
          }
          
          var map = new google.maps.Map(document.getElementById('map'), options);
          
          google.maps.event.addListener(map, 'click', function(event){
            addMarker({coords:event.latLng});
            });
            
            var markers = [
              {
                coords:{lat:42.4668,lng:-70.9495},
                }
                ];
                
                for(var i = 0;i < markers.length;i++){
                  addMarker(markers[i]);
                  }
                  
                  function addMarker(props){
                    var marker = new google.maps.Marker({
                      position:props.coords,
                      map:map,
                      });
                      
                      if(props.iconImage){
                        marker.setIcon(props.iconImage);
                        }
                        
                        if(props.content){
                          var infoWindow = new google.maps.InfoWindow({
                            content:props.content
                            });
                            
                            marker.addListener('click', function(){
                              infoWindow.open(map, marker);
                              });
                              }
                              }
                              }
                              </script>
                              <script async defer
                              src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPy5d7wOF9QkK7XT1Vt76iFwDs7mHx2g0&callback=initMap">
                              </script>
                              </body>
                              </html>
