<head>
    <body>
        <form action="/login" method="POST">
            <div class="login">
                <div class="screen">
                    <div class="title">
                        <h1>Login</h1>
                    </div>
                    <div class="form">
                    <div class="control-group">
                        <input type="text" class="loginfield" value="" placeholder="username" name="username">
                        <label class="icon user" for="loginname"></label></div>
                        <div class="control-group">
                            <input type="password" class="loginfield" value="" placeholder="password" name="password">
                            <label class="icon lock" for="loginpass"></label></div>
                            <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block">
                    </div>
                </div>
            </div>
        </form>
        
        <a id="google-button" class="btn btn-block btn-social btn-google">
            <i class="google"></i> Sign in with google
        </a>
        
        <script>
        $('#google-button').on('click', function() {
            OAuth.initialize('708386988448-267vhjb7fs77gb2fitjd82262ubi0lm1.apps.googleusercontent.com');
            OAuth.popup('google').then(google => {
                console.log(google);
                console.log(google.me());
            });
        })
        </script>
    </body>
</head>